@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

.ff_chewy {
  font-family: 'Chewy';
}

@font-face {
  font-family: 'Lucky Dino';
  src: url(./assets/font/LuckyDino-3z6Ay.otf);
}

.ff_lucky {
  font-family: 'Lucky Dino';
}

.ff_balsamiq {
  font-family: 'Balsamiq Sans';
}

.footer_img {
  background-image: url(./assets/image/webp/foter_img.webp);
}

br {
  display: none !important;
}

@media (min-width:768px) {
  .animation_cortoon {
    animation: animation_cortoon 24s;
    animation-timing-function: linear;
  }

  @keyframes animation_cortoon {
    0% {
      transform: translateX(50%);
    }

    10% {
      transform: translateX(10px);
    }

    20% {
      transform: translateX(-110px);
    }

    30% {
      transform: translateX(-220px);
    }

    40% {
      transform: translateX(-330px);
    }

    50% {
      transform: translateX(-440px);
    }

    60% {
      transform: translateX(-600px);
    }

    70% {
      transform: translateX(-700px);
    }

    80% {
      transform: translateX(-900px);
    }

    90% {
      transform: translateX(-1100px);
    }

    100% {
      transform: translateX(-1350px);
    }
  }
.animation_cortoon1 {
  animation: animation_cortoon1 24s;
  animation-timing-function: linear;
}

@keyframes animation_cortoon1 {
  0% {
    transform: translateX(50%);
  }

  10% {
    transform: translateX(10px);
  }

  20% {
    transform: translateX(110px);
  }

  30% {
    transform: translateX(220px);
  }

  40% {
    transform: translateX(330px);
  }

  50% {
    transform: translateX(440px);
  }

  60% {
    transform: translateX(600px);
  }

  70% {
    transform: translateX(700px);
  }

  80% {
    transform: translateX(900px);
  }

  90% {
    transform: translateX(1100px);
  }

  100% {
    transform: translateX(1350px);
  }
}
.aroplane {
  animation: aroplane 24s;
  animation-timing-function: linear;
}

@keyframes aroplane {
  0% {
    transform: translateX(50%);
  }

  10% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(-110px);
  }

  30% {
    transform: translateX(-220px);
  }

  40% {
    transform: translateX(-330px);
  }

  50% {
    transform: translateX(-440px);
  }

  60% {
    transform: translateX(-600px);
  }

  70% {
    transform: translateX(-700px);
  }

  80% {
    transform: translateX(-900px);
  }

  90% {
    transform: translateX(-1100px);
  }

  100% {
    transform: translateX(-1350px);
  }
}
}
@media (min-width:1024px) {
  br {
    display: block !important;
  }

  .bg-full {
    background-size: 100% 100%;
  }

}
html,
body {
  scroll-behavior: smooth;
}
.overflow_hidden {
  overflow: hidden !important;
}